.comment
  .message-user
    = message.user.name
  .time-stamp
    = message.created_at.strftime("%Y/%m %H:%M")
  - if message.content.present?
    %p.lower-message__content
      = message.content
  = image_tag message.image, class: 'lower-message__image' if message.image.present?
